@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Estilo Global dos inputs*/
* {
  font-family:'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

h1 {
  color:#f45b5b;
  font-family: 'Montserrat', bold;
  font-style: italic;
}

.logoDesc {
  font-size: 2em;
  font-weight: 700;
  color: #f45b5b;
  pointer-events: none;
  margin-right: 270px;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
}

.navigation a:hover, 
.navigation a.active {
  background: #f45b5b;
  color: white;
}

.parallax {
  background: url(../../assets/img/titulo.png);
  filter: brightness(0.75);
  background-color: black;
  width: 100%;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax .logo {
  position: static;
  left: 500px;
  top: 100px;
}

#text1 {
  left: 500px;
  top: 100px;
}

#text2 {
  left: 500px;
  top: 100px;
}

.parallax:hover{
  filter: blur(5px);  
}

.parallax .logo {
  position: absolute;
  max-width: 10%;
  min-width: 10%;
}

.text1 {
  position: absolute;
  max-width: 45%;
  min-width: 45%;
}

.text2 {
  position: absolute;
  max-width: 45%;
  min-width: 45%;
}

.parallax .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.sec {
  position: relative;
  background: #f9f9f9;
  padding: 100px;
}

.sec h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.input {
  background-color: rgb(236, 236, 236);
  border-radius: 10cm;
}

.entrar {
  font-style: italic;
  background-color: rgb(163, 223, 203);
  border: 1px;
  border-radius: 10px;
}

.login { /*container completo de login*/
display: flow-root;
align-items: center;
padding: 50px;
}

.intro {
display: relative;
margin: 5px;
max-width: 100%;
max-height: 30%;
}