@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family:'Montserrat';
    background-color: white;
    content: normal;
    padding: 5px;
}
.login {
    padding: 50px;
}
.email {
    background-color: rgb(236, 236, 236);
    border-radius: 10cm;
}
.senha {
    background-color: rgb(236, 236, 236);
    border-radius: 10cm;
}
.entrar {
    font-style: italic;
    background-color: rgb(163, 223, 203);
    border: 1px;
    border-radius: 25px;
}